

/* Register Page */

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;

}

.formBox {
  display: flex;
  justify-content: center;
  height: ;
}

.innerForm {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  width: 15rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
