
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Register Page */

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.formBox {
  display: flex;
  justify-content: center;
}

.innerForm {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  width: 15rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
